[Unit]
Description=Responsible for controlling environment in Wardrobe garden
After=network.target
[Service]
Type=simple
Restart=on-failure
User=pi
ExecStart= gardening

[Install]
WantedBy=multi-user.target